.main__specialist {
  background-color: $blue;
  overflow-y: scroll;
}

.specialist-filter {
  display: flex;
  width: 70%;
  @include for-phone-only {
  flex-direction: column;
}
}

.button--specialist {
  margin: 10px;
  display: flex;
  flex-grow: 1;
}

.filtered-by-specialist {
  width: 70%;
  margin: 20px 0;
}

.filtered-by-specialist__item {
  background-color: $white;
  padding: 20px 0;
  margin: 10px;
  border-radius: 7px;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.filtered-by-specialist__number {
  display: flex;
  align-items: center;
  white-space: pre;
  font-weight: bold;

  &:before {
    content: "Kliento Nr. ";
    font-weight: normal;
  }
}

.button--filtered-by-specialist {
  background-color: $blue;

  &:after {
    content: "Aptarnauta";
    color: $white;
  }
}

.button--active {
  background-color: $yellow;
  pointer-events: none;
}

.specialist__info {
  padding: 30px;
  color: $white;
}
